{% extends 'zuser/base.html' %}

{% block title %}ZOS Index{% endblock %}

{% block body %}

    <h1>Index Page of ZOS</h1>
    <hr/>

    {% if user.is_authenticated %}
        <a href="/zuser/restricted/">Restricted Page</a>
        <br/>
        <a href="/zasset">Asset</a>
        <br/>
        <a href="/zstaff">Staff</a>
        <br/>
        <a href="/zuser/logout/">Logout</a>
        <br/>
    {% else %}
        <a href="/zuser/login/">Login</a>
        <br/>
        <a href="/zuser/register/">Register</a>
        <br/>
    {% endif %}

{% endblock %}