{% extends 'zuser/base.html' %}

{% block title %}ZOS Index{% endblock %}

{% block body %}

    <h1>Index Page of ZOS</h1>
    <hr/>

    {% if user.is_authenticated %}
        <br/>
        <h4><a href="/zuser/restricted/">Restricted Page</a></h4>

        <h4><a href="/zasset">Asset</a></h4>

        <h4><a href="/zasset/staffindex">Staff</a></h4>

        <h4><a href="/zuser/logout/">Logout</a></h4>
        <br/>
    {% else %}
        <br/>
        <h4><a href="/zuser/login/">Login</a></h4>
        <br/>
        <h4><a href="/zuser/register/">Register</a></h4>

    {% endif %}

{% endblock %}