{% extends 'zuser/base.html' %}

{% block title %}Login{% endblock %}

{% block body %}

    <h1>Login Page</h1>
    <hr/>

    <form id="login_form" method="post" action="/zuser/login/">
        {% csrf_token %}
        <table>
        <tr><td>Username:</td><td><input type="text" name="username" value="" size="20" /></td></tr>
        <tr><td></td><td></td></tr>
        <tr><td>Password:</td><td><input type="password" name="password" value="" size="20" /></td></tr>
        </table>
        <input type="submit" value="Submit" />
    </form>

{% endblock %}