#coding=utf-8

{% extends "zuser/base.html" %}

{% block title %}ZOS Asset{% endblock %}

{% block body %}

    <h1>HARDWARE MANAGEMENT</h1>
    <hr/>


    {% if hardwares %}

        <table>
            <tr>
                <th>HOSTNAME</th>
                <th></th>
                <th>OWNER</th>
                <th></th>
                <th>OS</th>
                <th></th>
                <th>RAM</th>
                <th></th>
                <th>FUNCTION</th>
                <th></th>
                <th>IPv4</th>
            </tr>
            {% for hardware in hardwares %}
            <tr>
                <td>{{ hardware.hostname }}</td>
                <td>&nbsp;&nbsp;|&nbsp;&nbsp;</td>
                <td>{{ hardware.staff }}</td>
                <td>&nbsp;&nbsp;-&nbsp;&nbsp;</td>
                <td>{{ hardware.ostype }}</td>
                <td>&nbsp;&nbsp;-&nbsp;&nbsp;</td>
                <td>{{ hardware.ram }}</td>
                <td>&nbsp;&nbsp;-&nbsp;&nbsp;</td>
                <td>{{ hardware.function }}</td>
                <td>&nbsp;&nbsp;-&nbsp;&nbsp;</td>
                <td>{{ hardware.ipv4 }}</td>
            </tr>
            {% endfor %}
        </table>

    {% else %}
        <strong>There are no hardware present.</strong>
    {% endif %}

    <hr/>

    <h4><a href="/zasset/software/">Software Management</a></h4>
    <br/>


{% endblock %}